<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-E5HB6L2L9C"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-E5HB6L2L9C');
	</script>
	<title>Truck Cargo Planner</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" type="image/x-icon" href="assets/code.ico">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
	<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Mulish&family=Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	<nav class="navbar fixed-top navbar-never-expand navbar-light">
		<div class="fluid-container">
			<button class="navbar-toggler menu_button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav nav_link_background">
					<a class="nav-link" th:href="@{/stock_nav}">Stock</a>
					<a class="nav-link" th:href="@{/other_nav}">Other</a>
					<a class="nav-link" href="#project">Own Project</a>
					<a class="nav-link" th:href="@{/logout}">Logout</a>
				</div>
			</div>
		</div>
	</nav>

	<section th:if="${stock_nav == true}">
		<table class="table table-striped">
			<tr>
				<th>No</th>
				<th>Type</th>
				<th>Boxes in row</th>
				<th>Rows on pallet</th>
				<th>Box weight</th>
			</tr>
			<tr th:object="${item}" th:each="item,stat : ${itemList}">
				<td><span th:text="${stat.count}">1</span></td>
				<td><span th:text="*{itemNo}">Nr0001</span></td>
				<td><span th:text="*{pallet.palletType}">Box Type</span></td>
				<td><span th:text="*{box.boxWeight}">Boxes in row</span></td>
				<!-- td><span th:text="*{rowsOnPallet}">Rows on pallet</span></td>
				<td><span th:text="*{boxWeight}">Box weight</span></td-->
			</tr>
		</table>
	</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>